    {% load static %}
    
    <!-- ***** Area Starts ***** -->
    <section class="section" id="men">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2> EN SEVİLENLER </h2>
                        <span>Hep En Yenisi Hep İyisi</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="men-item-carousel">
                        <div class="owl-men-item owl-carousel">
                            {% for rs in sliderdata  %}
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="{% url 'product_detail' rs.id %}"><i class="fa fa-eye"></i></a></li>
                                            <li><a href="products.html"><i class="fa fa-star"></i></a></li>
                                            <li><a href="/order/addtocart/{{rs.id}}" class="primary-btn add-to-cart"> <i class="fa fa-shopping-cart"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <img src="{{ rs.image.url }}" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>{{ rs.title }}</h4>
                                    <span>{{rs.price}}₺</span>
                                </div>
                            </div>
                            {%endfor%}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Area Ends ***** -->

    <!-- ***** Explore Area Starts ***** -->
    <section class="section" id="explore">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-content">
                        <h2>Ürünlerimizi Keşfedin</h2>
                        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos deleniti, corrupti aliquid quas in ex aut voluptates non reiciendis sed labore laudantium ipsum odit incidunt consequuntur asperiores ullam distinctio ut!</span>
                        <div class="quote">
                            <i class="fa fa-quote-left"></i><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam veniam maiores deleniti aspernatur maxime nulla, itaque quisquam unde officiis accusantium quas delectus voluptatum! Necessitatibus repudiandae deleniti, expedita doloremque esse excepturi!</p>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ut ex itaque nisi illoliquid numquam accusantium odio, velit dignissimos totam odit adipisci molestiae! Quam doloremque possimus consequatur.<a rel="nofollow" target="_blank">support us</a> a little via PayPal. Please also tell your friends about our great website. Thank you.</p>
                        <div class="main-border-button">
                            <a href="products.html">Daha Fazla</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="leather">
                                    <h4>Deri Çantalar</h4>
                                    <span> %100 Deri </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="first-image">
                                    <img src="{% static 'assets/images/explore-image-01.jpg'%}" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="second-image">
                                    <img src="{% static 'assets/images/explore-image-02.jpg'%}" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="types">
                                    <h4>Farklı Tarzlar</h4>
                                    <span>100'ün Üzerinde Ürün</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Explore Area Ends ***** -->

    <!-- ***** Social Area Starts ***** 
    <section class="section" id="social">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Social Media</h2>
                        <span>Details to details is what makes Hexashop different from the other themes.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row images">
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                            <a href="http://instagram.com">
                                <h6>Fashion</h6>
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                        <img src="{% static 'assets/images/instagramicon.png'%}" alt="">
                    </div>
                </div>
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                            <a href="http://instagram.com">
                                <h6>New</h6>
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                        <img src="{% static 'assets/images/instagram-02.jpg'%}"alt="">
                    </div>
                </div>
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                            <a href="http://instagram.com">
                                <h6>Brand</h6>
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                        <img src="{% static 'assets/images/instagram-03.jpg'%}" alt="">
                    </div>
                </div>
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                            <a href="http://instagram.com">
                                <h6>Makeup</h6>
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                        <img src="{% static 'assets/images/instagram-04.jpg'%}" alt="">
                    </div>
                </div>
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                            <a href="http://instagram.com">
                                <h6>Leather</h6>
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                        <img src="{% static 'assets/images/instagram-05.jpg'%}" alt="">
                    </div>
                </div>
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                            <a href="http://instagram.com">
                                <h6>Bag</h6>
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                        <img src="{% static 'assets/images/instagram-06.jpg'%}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- ***** Social Area Ends ***** -->

    <!-- ***** Subscribe Area Starts ***** -->
    <div class="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-heading">
                        <h2>Hemen Üye Ol Fırsatları Kaçırma</h2>
                        <span></span>
                    </div>
                    <form id="subscribe" action="" method="get">
                        <div class="row">
                          <div class="col-lg-5">
                            <fieldset>
                              <input name="name" type="text" id="name" placeholder="Adınız" required="">
                            </fieldset>
                          </div>
                          <div class="col-lg-5">
                            <fieldset>
                              <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Mailiniz" required="">
                            </fieldset>
                          </div>
                          <div class="col-lg-2">
                            <fieldset>
                              <button type="submit" id="form-submit" class="main-dark-button"><i class="fa fa-paper-plane"></i></button>
                            </fieldset>
                          </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-6">
                            <ul>
                                <li>Mağaza Adresi:<br><span>Merkezefendi / Denizli</span></li>
                                <li>Telefon:<br><span>0100200340</span></li>
                                <li>Ofis Adresi:<br><span>Pamukkale / Denizli</span></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul>
                                <li>Çalışma Saatlerimiz:<br><span>07:30 - 21:30 </span></li>
                                <li>Email:<br><span>info@dsnjfnskjf.com</span></li>
                                <li>Sosyal Medya:<br><span><a href="#">X</a><br> <a href="#">Facebook</a><br> <a href="#">Instagram</a> <br><a href="#">Linkedin</a></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Subscribe Area Ends ***** -->
    



