{%load static %}

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img src="" alt="">
                        </div>
                        <ul>
                            <li><a href="#">Pamukkale / Denizli </a></li>
                            <li><a href="#">esilatekstil@gmail.com</a></li>
                            <li><a href="#">0100200340</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Kategori</h4>
                    <ul>
                        <li><a href="#">Erkek </a></li>
                        <li><a href="#">Kadın </a></li>
                        <li><a href="#">Çocuk </a></li>
                    </ul>
                </div>

                <div class="col-lg-3">
                    <h4>Yardım &amp; Bilgi</h4>
                    <ul>
                        <li><a href="#">Yardım</a></li>
                        <li><a href="#">İletişim</a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>Copyright © 2024 EsilaTekatil Co., Ltd. 
                        
                        <br>Design: <a href="" target="" title=""></a>Smd</p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            
                        </ul>
                    </div>
                </div>
            
                
            </div>
        </div>
    </footer>